#Golf_text, #Baseball_text, #Basketball_text, #Sorry_text {
  display: none;
}
#Basketball_text {

}
#Golf_text {
    background: url('../img/trump.jpg') no-repeat;
    backgroun-size: 100%;

}
#Baseball_text {
  
}
